body {
    --nav-width: 200px;
    margin: 0 0 0 var(--nav-width);
    font-family: 'Quicksand', sans-serif;
    font-size: 3rem;
    background: #faffe8;
}
.logo {
  display: block;
  padding: 20px 18px 200px 18px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 3rem;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background: #b7fc7a;
}

.nav__link {
    display: block;
    padding: 40px 18px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 2rem;
}

.nav__link:hover {
    color: rgba(100, 100, 50, 0.9);
}

.Intro{
  margin-top: 25%;
}
#app {
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;
    text-align: center;
    margin-left: -40px;
}

a {
    color: #009579;
}

h1{
  color: #0ac00a;
  font-family: Chakra Petch;
  font-size: 10rem;
}

p{
  color: #b7fc7a;
}
